html{
	font-size:14px;
	height:100%;
}
@media screen and (max-width: 320px ) {
	html{
		font-size:11px;
	}
}
@media screen and (min-width: 321px ) and (max-width:375px) {
	html{
		font-size:12px;					
	}
}
@media screen and (min-width: 376px ) and (max-width:414px) {
	html{
		font-size:14px;
	}
}	
@media screen and (min-width: 415px ) and (max-width:639px) {
	html{
		font-size:15px;
	}
}
@media screen and (min-width: 640px ) and (max-width:719px) {
	html{
		font-size:20px;
	}
}
@media screen and (min-width: 720px ) and (max-width:749px) {
	html{
		font-size:22.5px;
	}
}
@media screen and (min-width: 750px ) and (max-width:799px) {
	html{
		font-size:23.5px;
	}
}
@media screen and (min-width: 800px ) {
	html{
		font-size:25px;
	}
}
/*@media screen and (orientation:portrait ) {
	#page{
		box-orient:vertical;
		-webkit-box-orient: vertical;
	}
}
@media screen and (orientation:landscape ) {
	#page{
		box-orient:horizontal ;
		-webkit-box-orient: horizontal;
	}
}*/
body{
	width:100%;
	height:100%;
}
#page{
	width:100%;
	height:100%;
	display:box;
	display: -webkit-box;
	box-orient:vertical;
	-webkit-box-orient: vertical;
}
#header{
	width:100%;
	height:4.3rem;
	background:#e4366b;
	text-align:center;
	color:white;
	line-height:4.3rem;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	padding-right:0.5rem;
}
#header p{
	float:left;
	height:100%;
}
.back{
	width:14%;
	background: url(../img/back.png) no-repeat;
	background-size:auto 100%;
}
.search{
	width:100%;
	height:4.2rem;
	background:#52525a;
	line-height:4.2rem;
	text-align:center;
	position:relative;
}
.search span{
	display: block;
	position:absolute;
	left:8%;
	top:15%;
	width:2.1rem;
	height:2.1rem;
}
.search span img{
	width:100%;
	height:100%;
}
.search_tex{
	width:92%;
	height:2.6rem;
	border:1px solid #52525A;
	border-radius:1rem 1.2rem 1.2rem 1.2rem/1.2rem 1.2rem 1.2rem 1.2rem;
	text-indent:15%;
	font-size:1.5rem;
	/*background:url(../img/search.jpg) no-repeat 5% 2% white;
	background-size:auto 100%; */
}

section{
	width:100%;
	height:100%;
	box-flex:1;
	-webkit-box-flex: 1;
	overflow: auto;
}
footer{
	width:100%;
	height:5rem;
	background:#484850;
	display:box;
	display:-webkit-box;
	position:relative;
}
footer div{
	height:100%;
	display:-webkit-box;
	display: box;
	box-flex:1;
	-webkit-box-flex: 1;
	box-sizing: border-box;
	font-size:2rem;
	color:white;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
footer .index{
	background: url(../img/footer_1.jpg) no-repeat center center;
	background-size:auto 100%;
}
footer .classify{
	background: url(../img/footer_2.jpg) no-repeat center center;
	background-size:auto 100%;
}
footer .shoppingcar{
	background: url(../img/footer_3.jpg) no-repeat center center;
	background-size:auto 100%;
}
footer .myshow{
	background: url(../img/footer_4.jpg) no-repeat center center;
	background-size:auto 100%;
}
footer .more{
	background: url(../img/footer_5.jpg) no-repeat center center;
	background-size:auto 100%;
}
footer div a{
	display: block;
	width:100%;
	height:100%;
}
.myalert{
	position:absolute;
	left:20%;
	bottom: 70%;
	width:60%;
	height:5rem;
	border-radius:0.5rem;
	background: rgba(0,0,0,0.5);
	padding:0 0.5rem;
}
.myalert span{
	display:block;
	height:5rem;
	line-height:5rem;
	font-size:2rem;
	color:white;
	float:left;
}
.myalert a{
	display:block;
	width:2rem;
	height:2rem;
	line-height:2rem;
	text-align:center;
	border-radius:50%;
	background:rgba(0,0,0,0.6);
	color:white;
	font-size:1.5rem;
	margin-top:1.5rem;
	float:right;
}
.shoppingCarball{
	position:absolute;
	right:42%;
	top:0.5rem;
	width:1.5rem;
	height:1.5rem;
	line-height:1.5rem;
	text-align: center;
	border-radius:50%;
	background:#ef4c7b;
	font-size:1rem;
}

section .myshowList{
	width:88%;
	border: 2px solid #e5e5e5;
	background:white;
	border-radius: 1rem;
	margin-left:1.5rem;
	display:box;
	display: -webkit-box;
	box-orient:vertical;
	-webkit-box-orient: vertical;
}
section .myshowList li{
	display:-webkit-box;
	-webkit-box-flex: 1;
	box-flex:1;	
	-webkit-box-align:center;	
	position:relative;
	padding-left:1.4rem;	
	border-bottom: 2px solid #e5e5e5;																		
}
section .myshowList li span{
	font-size:1.7rem;
	color: black;
}
section .myshowList li img{
	width:1.2rem;
	height:1.5rem;
	position:absolute;
	right:1.2rem;
	top:1.5rem;
}
@keyframes moveLeft{
	from{transform: translateX(100%)}
	to{transform: translateX(0)}
}


