<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<title>微购物</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/commen.css" />
		<link rel="stylesheet" href="css/swiper-3.2.7.min.css" />
		<link rel="stylesheet" href="css/goodsDetail.css" />
	</head>
		<script src="/public/app/js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/public/app/js/commen.js" ></script>
	<body>
		<div id="page">
			<header id="header">
				<p class="back"></p>
				<p class="goodsPr">商品介绍</p>
				<input class="share" type="button" value="分享" />
			</header>
			<section id="section1">
				<p class="time">距离结束时间：04天01时15分47.2秒</p>
				<ul class="goodsDetail" id="goodsDetail">
					<li class="goodsImg"><img  /></li>
					<li class="goodsDaBtn"><span></span><span></span></li>
					<li class="goodsPrice">市场价：<del>￥439</del><span>4.8折</span><span>125人购买</span></li>
				</ul>
			</section>
			<section id="section2">
				
			</section>
			<section id="section3">
				<div class="swiper-container">
				  <div class="swiper-wrapper">
				    <!--<div class="swiper-slide" style="background: red;"></div>
				    <div class="swiper-slide" style="background: yellow;"></div>
				    <div class="swiper-slide" style="background: cadetblue;"></div>
				    <div class="swiper-slide" style="background: palegreen;"></div>-->
				  </div>
				  <div class="swiper-pagination"></div>
				</div>
			</section>
			<footer>
				<div class=" active">介绍</div>
				<div>详情</div>
				<div>实拍</div>
			</footer>
		</div>
		<script type="text/javascript" src="/public/app/js/swiper-3.2.7.min.js" ></script>
		<script type="text/javascript" src="/public/app/js/goodsDetail.js" ></script>
	</body>
</html>
