<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>微购物</title>
    <link rel="stylesheet" href="/public/app/css/reset.css" />
    <link rel="stylesheet" href="/public/app/css/commen.css" />
    <link rel="stylesheet" href="/public/app/css/swiper-3.2.7.min.css" />
    <link rel="stylesheet" href="/public/app/css/index.css" />
</head>
	<script src="/public/app/js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="/public/app/js/commen.js" ></script>
<body>
	<div id="page">
		<header id="header">
			<p class="registerBtn">微购物</p>
		</header>
		<div class="search">
			<span><img src="/public/app/img/search.jpg"/></span>
			<input class="search_tex" type="text"placeholder="请输入要搜索的内容" />
		</div>
		<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide"></div>
		    <div class="swiper-slide"></div>
		    <div class="swiper-slide"></div>
		    <div class="swiper-slide"></div>
		  </div>
		  <div class="swiper-pagination"></div>
		</div>
		<section>
			<!--<ul class="pro">
				<li class="mainImg"><a><img src=""/></a></li>
				<li class="main_detail">
					<p class="main_content">0元大抽奖！走秀携古尔莎为你开启，价值28880元的土耳其...</p>
					<p class="main_price">￥0<del>￥28880</del></p>
					<p class="discount">0折</p>
					<input class="shoppingCar_btn" type="button"/>
				</li>
			</ul>-->
		</section>
		<footer>									
			<div class="index"><a href="index.html"></a></div>
			<div class="classify"><a href="classify.html"></a></div>
			<div class="shoppingcar"><a href="shoppingCar.html"></a></div>
			<div class="myshow"><a href="myshow.html"></a></div>
			<div class="more"><a href="more.html"></a></div>
			<div class= "shoppingCarball">0</div>
		</footer>
	</div>		
</body>
<script type="text/javascript" src="/public/app/js/swiper-3.2.7.min.js" ></script>
<script type="text/javascript" src="/public/app/js/index.js" ></script>
</html>