<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<title>微购物</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/commen.css" />
		<link rel="stylesheet" href="css/register.css" />
		<link rel="stylesheet" href="css/login.css" />
	</head>
		<script src="js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="js/commen.js" ></script>
	<body>
		<div id="page">
			<header id="header">
				<p class="back"></p>
				<p class="registerBtn">登录</p>
				<input class="login" type="button" value="注册" />
			</header>
			<section>
				<input class="username" type="text" placeholder="用户名" />
				<input class="psd" type="password" placeholder="密码" />
				<input class="agreeRg" type="button" value="登录" /><br />
				<input class="remberPsd" type="checkbox" checked="checked" /><label class="remtext">记住密码</label><a class="remtext_">忘记密码？</a>
			</section>
			<footer>
				<div class="index"><a href="index.html"></a></div>
				<div class="classify"><a href="classify.html"></a></div>
				<div class="shoppingcar"><a href="shoppingCar.html"></a></div>
				<div class="myshow"><a href="myshow.html"></a></div>
				<div class="more"><a href="more.html"></a></div>
				<div class="shoppingCarball">1</div>
			</footer>
		</div>
		<script type="text/javascript" src="js/login.js" ></script>
	</body>
</html>
