<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<title>微购物</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/commen.css" />
		<link rel="stylesheet" href="css/myshow.css" />
	</head>
		<script src="js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="js/commen.js" ></script>
	<body>
		<div id="page">
			<header id="header">
				<p class="back"></p>
				<p class="registerBtn">我的秀</p>
				<p class="mycoupon">我的订单</p>
				<p class="mycoupon">我的优惠券</p>
				<p class="mycoupon">浏览记录</p>
				<p class="mycoupon">我的收藏</p>
			</header>
			<section class="oSection1">
				<div id="oSection1">
					<ul class="personalMsg">
						<li class="myheader"><img src="img/myhead.jpg"/></li>
						<li class="myheadOther">
							<p>昵称：<span>未知</span></p>
							<input class="login" type="button" value="登录" />
							<input class="register" type="button" value="注册" />
						</li>
					</ul>
					<ul class="myshowList">
						<li><span>我的订单</span><img src="img/classes.jpg"/></li>
						<li><span>我的优惠券</span><img src="img/classes.jpg"/></li>
						<li><span>浏览记录</span><img src="img/classes.jpg"/></li>
						<li><span>我的收藏</span><img src="img/classes.jpg"/></li>
					</ul>
				</div>
				<div id="oSection2">
					<ul class="ouL1">
						<li>未使用</li>
						<li>已使用</li>
						<li>已过期</li>
						<li>未激活</li>
					</ul>
					<ul class="ouL2">
						<li>40元现金券（满299元可使用）</li>
						<li>号码：DSMFKSC2WX47VL</li>
						<li>	过期时间：2013年05月29日</li>
						<li>状态：未使用</li>
					</ul>
				</div>
				<div id="oSection3">
					<ul class="pro">
						<li class="mainImg"><a><img src="img/pro_detail_1.jpg"/></a></li>
						<li class="main_detail">
							<p class="main_content">0元大抽奖！走秀携古尔莎为你开启，价值28880元的土耳其...</p>
							<p class="main_price">￥0<del>￥28880</del></p>
							<p class="discount">0折</p>
							<input class="shoppingCar_btn" type="button"/>
						</li>
					</ul>
				</div>
			</section>
			<footer>
				<div class="index"><a href="index.html"></a></div>
				<div class="classify"><a href="classify.html"></a></div>
				<div class="shoppingcar"><a href="shoppingCar.html"></a></div>
				<div class="myshow"><a href="myshow.html"></a></div>
				<div class="more"><a href="more.html"></a></div>
				<div class="shoppingCarball">1</div>
			</footer>
		</div>
		<script type="text/javascript" src="js/myshow.js" ></script>
	</body>
</html>
