<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
		<title>微购物</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/commen.css" />
		<link rel="stylesheet" href="css/shoppingCar.css" />
	</head>
		<script src="js/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="js/commen.js" ></script>
	<body>
		<div id="page">
			<header id="header">
				<p class="back"></p>
				<p class="registerBtn">购物车</p>
				<input class="toSettle" type="button" value="去结算" />
			</header>
			<div class="shoppingCar_detail">
				<span>商品数量：</span>
				<span class="pro_num">1</span>
				<span>应付总额（不含运费）：</span>
				<span class="pro_price">￥199</span>
			</div>
			<section id="oSection">
				<!--<ul class="pro_detail_1">
					<li class="pro_detail_1_img"><img src="img/pro_detail_1.jpg"/></li>
					<li class="pro_detail_1_msg">
						<p>
							<span>ESPRIT 气质V领玫红</span>
							<span class="proDelete"></span>
						</p>
						<p>T恤</p>
						<p>单价：<span class="per_price">￥199</span><span class="pro_type">L</span></p>
						<p>
							数量：
							<span class="add">-</span>
							<input class="pro_detail_num" type="text" value="1"/>
							<span class="cut">+</span>
						</p>
					</li>
				</ul>-->
				
			</section>
			<section class="oSection1">
				<h2>您的购物车空空~</h2>
				<img class="shoppingImg" src="img/shoppingCar-1.jpg" /><br />
				<input class="goShopping" type="button" value="去逛逛" />
			</section>
			<footer>
				<div class="index"><a href="index.html"></a></div>
				<div class="classify"><a href="classify.html"></a></div>
				<div class="shoppingcar"><a href="shoppingCar.html"></a></div>
				<div class="myshow"><a href="myshow.html"></a></div>
				<div class="more"><a href="more.html"></a></div>
				<div class="shoppingCarball">1</div>
			</footer>
		</div>
		<script type="text/javascript" src="js/shoppingCar.js" ></script>
	</body>
</html>
